{%   extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container1">

    <div class="row">
        {% for movie in movie_list %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card h-100 text-center">
                <a href="{% url 'movieapp:Details' movie.id %}">
                    {% if movie.images %}
                    <img class="card-img-top" style="height:250px;width:250px;padding:5px;"
                         src="{{ movie.images.url }}"
                         alt="{{ movie.name }}">
                    {% else %}
                    <img class="card-img-top my_image"
                         src="{% static 'img/fail.jpg' %}"
                         alt="{{ movie.name }}">
                    {% endif %}
                </a>
                <div class="card-body">
                        <h5 class="card-title">{{ movie.name }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}